$slick-loader-path: "/";
$slick-arrow-color: rgb(30, 30, 30);
$slick-font-path: "~slick-carousel/slick/fonts/";

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
